{% extends "personal/header.html" %}
{% load crispy_forms_tags %}{% block content %}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1 class="w3-text-teal">Login</h1><br>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>


{% endblock %}

